<section class="category">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="images">
                    <img src="assets/images/box-1.jpg"/>
                   <div class="content">
                       ON SALE
                   </div>
                </div>
            </div>
            <div class="col">
                <div class="images">
                    <img src="assets/images/box-2.jpg"/>
                    <div class="content">
                        SPECIAL OFFERS
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="images">
                    <img src="assets/images/box-3.jpg"/>
                    <div class="content">
                        MUST HAVE
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>