<div class="sub-footer">
    <div class="container">
        <div class="row-footer">
            <div class="col">
               <form>
                   <div class="input-group mb-3">
                       <input type="text" class="form-control" placeholder="Enter email for newsletter">
                       <div class="input-group-prepend">
                           <div class="input-group-text">
                               <button type="submit">
                                   <i class="fa fa-angle-right" aria-hidden="true"></i>
                               </button>
                           </div>
                       </div>
                   </div>
               </form>
            </div>
            <div class="col">
                <div class="content">
                    <ul>
                        <li>
                            <a href="#" title="Facebook" alt="Facebook">
                                <i class="fa fa-facebook" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" title="Twitter" alt="Twitter">
                                <i class="fa fa-twitter" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" title="Google" alt="Google">
                                <i class="fa fa-google-plus" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" title="LinkedIn" alt="LinkedIn">
                                <i class="fa fa-linkedin" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" title="More" alt="More">
                               <img src="assets/images/points.jpg"/>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
