<footer>
        <div class="container-full">
           <div class="row-footer">
               <div class="col">
                   <p>
                       Copyright © Fooseshoes 2013.
                   </p>
                    <p>
                        Designed by EnzoLiVolti.
                    </p>
               </div>
               <div class="col">
                   <div class="content">
                       <ul>
                           <li>Home</li>
                           <li>Support</li>
                           <li>Terms and Conditions</li>
                           <li>Faqs</li>
                           <li>Contact us</li>
                       </ul>
                   </div>
               </div>
           </div>
        </div>
</footer>