.container-full{
  background-color: #ebe7df;
  padding: 10px 0 0;
  @media(max-width: 600px){
    padding: 30px 20px 0;
  }
  .product-featured{
    padding: 0 0 50px;
    .container-produc{
      padding: 0;
      .content-title-product{
        display: flex;
        justify-content: space-between;
        margin-top: 30px;
        margin-bottom: 20px;
      }
      .row-product{
        display: flex;
        .col{
          @media(max-width: 990px){
            margin-bottom: 25px;
          }
          @media(max-width: 600px){
            flex: 0 0 100%;
            max-width: 100%;
          }
          .content-product{
            margin-bottom: 0;
          }
        }
      }
    }
  }
}