<section class="content-filter">
    <div class="container">
        <div class="row-filters">
            <div class="col">
                <span>Shop by</span>
            </div>
            <div class="col">
                <div class="row">
                    <div class="col">
                        <div class="input-select">
                            <select name="Brands">
                                <option>Brands</option>
                                <option value="1">1</option>
                            </select>
                        </div>
                    </div>
                    <div class="col">
                        <div class="input-select">
                            <select name="Categories">
                                <option>Categories</option>
                                <option value="1">1</option>
                            </select>
                        </div>
                    </div>
                    <div class="col">
                        <div class="input-select">
                            <select name="Price">
                                <option>Price</option>
                                <option value="1">1</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>