.content-filter{
  background-color: #2e2e2e;
  padding: 20px 0;
  .row-filters{
    display: flex;
    @media(max-width: 990px){
      flex-direction: column;
    }
    > .col{
      &:first-child{
        max-width: 200px;
        display: flex;
        align-items: center;
      }
    }
    .col{
      span{
        color: #ffffff;
        font-size: 22px;
        line-height: 1.1;
        padding-left: 30px;
        @media(max-width: 990px){
          margin-bottom: 20px;
        }
      }
      .row{
        justify-content: space-around;
        @media(max-width: 767px){
          flex-direction: column;
        }
        .col{
          @media(max-width: 767px){
            margin-bottom: 10px;
          }
          .input-select{
            position: relative;
            width: 100%;
            &:before{
              content: "\f13a";
              font-family: FontAwesome;
              position: absolute;
              top: 0;
              bottom: 0;
              margin: auto;
              right: 0;
              width: 20%;
              height: 100%;
              text-align: center;
              font-size: 20px;
              line-height: 45px;
              color: #ffffff;
              pointer-events: none;
              display: flex;
              align-items: center;
            }
            select{
              background-color: #242424;
              color: white;
              padding: 12px;
              width: 100%;
              border: none;
              font-size: 20px;
              box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
              -webkit-appearance: button;
              appearance: button;
              outline: none;
              text-align-last:center;
              option{
                padding: 30px;
              }
            }
          }
        }
      }
    }
  }
}